body {
  color: black;
}

.title {
  text-align: center;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.loading-placeholder {
  margin: 2rem 0;
}
